*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    margin: auto;

}
header h2{
    padding: 1rem;

}
#logo{
    text-decoration: none;
    color: white;
}
.search-form{
    height: 80px;
    display: flex;
    padding: 1rem;
    width: 400px;
}
.search-form input{
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
}
.search-form button{
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: white;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form button img{
    height: 20px;
}
.space{
    height: 5rem;
}

.gallery-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0.5rem 0rem;
}
.gallery-info a{
    color: black;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2rem 0rem;
    width: 80%;
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-button{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    padding: 1rem 3rem;
    background: black;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}